/* custom-button.css */

.button-29 {
    -fx-background-color: #fbeee0;
    -fx-border-color: #422800;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-text-fill: #422800;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 0 18px;
    -fx-min-width: 120px; /* Larghezza minima per il pulsante */
    -fx-min-height: 50px; /* Altezza minima per il pulsante */
    -fx-alignment: center;
    -fx-cursor: hand; /* Cambia il cursore quando passi sopra il pulsante */
    -fx-effect: dropshadow(gaussian, rgba(66, 40, 0, 0.5), 4, 4, 0, 0); /* Effetto ombra */
}

.button-29:hover {
    -fx-background-color: #fff; /* Cambia colore al passaggio del mouse */
}

.button-29:pressed {
    -fx-effect: dropshadow(gaussian, rgba(66, 40, 0, 0.5), 2, 2, 0, 0); /* Effetto ombra più leggero al click */
    -fx-translate-x: 2px; /* Traslazione del pulsante al click */
    -fx-translate-y: 2px;
}

