.icona {
    -fx-background-image: url('../images/carte-da-gioco-icona-img.jpg'); /* Percorso dell'immagine di sfondo */
    -fx-background-size: cover; /* Dimensioni dell'immagine di sfondo */
    -fx-background-repeat: no-repeat; /* Non ripetere l'immagine di sfondo */
    -fx-background-position: center; /* Posiziona l'immagine di sfondo al centro */
    -fx-background-color: transparent; /* Colore di sfondo trasparente */
    -fx-border-width: 2px; /* Spessore del bordo */
    -fx-border-color: #8b4513; /* Colore del bordo (marrone) */
    -fx-border-radius: 10px; /* Raggio del bordo */
    -fx-padding: 20px; /* Spaziatura interna */
}